<?php


$this->mainMenu()->setActiveItemId('home');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home')
]);
$form = $this->form;
$form->get('title')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Enter title here'
]);
$form->get('tho_gave')->setAttributes([
    'class' => 'form-control',
    'placeholder' => 'Enter who_gave here'
]);
$form->get('number')->setAttributes([
    'class' => 'form-control', 'type' => 'number',
    'placeholder' => 'Enter number here'
]);
$form->get('date_gave')->setAttributes([
    'class' => 'form-control', 'type' => 'text',
    'placeholder' => 'Enter date_gave here'
]);
$form->get('submit')->setAttributes(['class' => 'btn btn-primary']);

?>

<a href="
    <?= $this->url('application', ['action' => 'index']); ?>">
    &lt;&lt; Back to list of docs
</a>

<div class="col-md-6">
    <?= $this->form()->openTag($form); ?>

    <div class="form-group">
        <?= $this->formLabel($form->get('title')); ?>
        <?= $this->formElement($form->get('title')); ?>
        <?= $this->formElementErrors($form->get('title')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('tho_gave')); ?>
        <?= $this->formElement($form->get('tho_gave')); ?>
        <?= $this->formElementErrors($form->get('tho_gave')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('number')); ?>
        <?= $this->formElement($form->get('number')); ?>
        <?= $this->formElementErrors($form->get('number')); ?>
    </div>
    <div class="form-group">
        <?= $this->formLabel($form->get('date_gave')); ?>
        <?= $this->formElement($form->get('date_gave')); ?>
        <?= $this->formElementErrors($form->get('date_gave')); ?>
    </div>


    <?= $this->formElement($form->get('submit')); ?>


    <?= $this->form()->closeTag(); ?>
</div>
