<?php
$this->headTitle('About');

$this->mainMenu()->setActiveItemId('about');

$this->pageBreadcrumbs()->setItems([
            'Home'=>$this->url('home'),
            'About'=>$this->url('about'),
            'Create'=>$this->url('create'),
            ]);
?>

<h1>About</h1>

<p>
    Application name: <?= $this->escapeHtml($appName) ?>
</p>

<p>
    Application description: <?= $this->escapeHtml($appDescription) ?>
</p>
