<?php
$this->headTitle('Welcome');

$this->mainMenu()->setActiveItemId('home');

$this->pageBreadcrumbs()->setItems([
    'Home' => $this->url('home')
]);
?>

<h1>Documents</h1>

<div class="row"><a  class="btn btn-primary"  href="<?= $this->url('create'); ?>">Create</a></div>
<? if (!$empty) { ?>
    <div class="col-md-8">

        <table class="table table_row">
            <th><a href="<?= $this->url('application', ['action' => 'index'], ['force_canonical' => true,
                    'query' => ['filter' => $filter, 'row' => 'title', 'page' => $page]]); ?>">title</a></th>
            <th><a href="<?= $this->url('application', ['action' => 'index'], ['force_canonical' => true,
                    'query' => ['filter' => $filter, 'row' => 'tho_gave', 'page' => $page]]); ?>">tho gave</a></th>
            <th><a href="<?= $this->url('application', ['action' => 'index'], ['force_canonical' => true,
                    'query' => ['filter' => $filter, 'row' => 'number', 'page' => $page]]); ?>">number</a></th>
            <th><a href="<?= $this->url('application', ['action' => 'index'], ['force_canonical' => true,
                    'query' => ['filter' => $filter, 'row' => 'date_gave', 'page' => $page]]); ?>">date</a></th>
            <?php foreach ($documents as $document): ?>
                <tr>
                    <td>
                        <h3>

                            <a href="<?= $this->url('view', ['id' => $document->getId()]); ?>">
                                <?= $this->escapeHtml($document->getTitle()); ?>
                            </a>
                        </h3>
                    </td>
                    <td><?= $document->getTho_gave() ?></td>
                    <td><?= $document->getNumber() ?></td>
                    <td><?= $document->getDate_gave() ?></td>

                </tr>
            <?php endforeach; ?>
        </table>
        <?= $this->paginationControl($documents,
            'Sliding',
            'application/partial/paginator',
            array('route' => 'application')); ?>

    </div>

<? } ?>

